div.show-deck {
  span.badge {
    &.deck-card {
      width: 110px;
    }
    span.card-level {
      font-size: 10px;
    }
  }

  div.show-deck-card {
    margin: 3px 0;
  }

  span.deck-combo {
    width: 34px;
    display: inline-block;
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 11px;
    span {
      border-radius: 2px;
      padding-left: 2px;
      padding-right: 1px;
    }
    cursor: default;
    .offense-0, .defense-0 {
      background-color: #444;
    }
    .offense-1, .defense-1 {
      background-color: seagreen;
    }
    .offense-2, .defense-2 {
      background-color: limegreen;
    }
    .offense-3, .defense-3 {
      background-color: gold;
    }
    .offense-4, .defense-4 {
      background-color: orange;
    }
    .offense-5, .defense-5 {
      background-color: tomato;
    }
    .unknown {
      background-color: #eee;
      color: #aaa
    }
  }

  span.stats {
    display: inline-block;
    width: 120px;
  }

  span.rank {
    width: 13px;
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 11px;
    border-radius: 2.5px;
    &.tier-1 {
      color: limegreen;
    }
    &.tier-2 {
      color: orangered;
    }
    &.tier-3 {
      color: orange;
    }
  }

  form.delete {
    width: 18px;
    display: inline-block;
    input {
      width: 100%;
      display: inline-block;
      color: white;
      background-color: darken(orangered, 10);
      text-align: center;
      font-size: 10px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }
    input:hover {
      text-decoration: none;
      background-color: lighten(red, 10);
    }
  }
}
