#side_nav {
  li.researched {
    font-weight: 600;
  }

  li.user {
    // font-weight: 600;
  }

  li.not-user {
    font-weight: 100;
    font-style: italic;
    opacity: 0.5;
  }

  li.gold, li.silver, li.bronze {
    .badge {
      border-radius: 2.5px;
      background-color: white;
      color: black;
    }

    .badge.fused {
      color: white;
      background-color: purple;
    }

    .badge.onyx {
      color: white;
      background-color: #333;
    }
  }

  li.gold a, li.silver a, li.bronze a {
    padding: 2px 15px;
  }

  li.gold {
    background-color: $gold-light;

    .badge.level-4 {
      color: #555;
      background-color: lighten($gold-dark, 25);
    }

    .badge.level-5 {
      color: #333;
      background-color: $gold-dark;
    }
  }

  li.silver {
    background-color: $silver-light;

    .badge.level-5 {
      color: #666;
      background-color: $silver-dark;
    }
  }

  li.bronze {
    background-color: $bronze-light;

    .badge.level-5 {
      color: #fafafa;
      background-color: $bronze-dark;
    }

    .badge.fused {
      color: white;
      background-color: purple;
    }
  }

  a span.badge {
    float: right;
  }
}
