.user-info {
  margin: 7px 0;
}

#side_nav {
  padding-left: 0;
  margin-top: 5px;

  li .id {
    font-weight: 100;
    font-size: 10px;
    display: inline-block;
    width: 18px;
  }

  li .card-count {
    font-weight: 300;
  }

  li .combo-count {
    font-weight: 100;
  }

  li.onyx {
    font-weight: 500;
  }

  li.not-onyx {
    a { color: #999 }
    font-weight: 100;
    font-style: italic;
  }

  li.researched {
    font-weight: 600;
    font-style: normal;
  }

  li.gold, li.silver, li.bronze {
    .badge {
      border-radius: 2.5px;
      background-color: white;
      color: black;
    }

    .badge.fused {
      color: white;
      background-color: purple;
    }

    .badge.onyx {
      color: white;
      background-color: #333;
    }
  }

  li.gold a, li.silver a, li.bronze a {
    padding: 2px 5px;
  }

  li.gold {
    background-color: $gold-light;

    .badge.level-4 {
      color: #555;
      background-color: lighten($gold-dark, 25);
    }

    .badge.level-5 {
      color: #333;
      background-color: $gold-dark;
    }
  }

  li.silver {
    background-color: $silver-light;

    .badge.level-5 {
      color: #666;
      background-color: $silver-dark;
    }
  }

  li.bronze {
    background-color: $bronze-light;

    .badge.level-5 {
      color: #fafafa;
      background-color: $bronze-dark;
    }

    .badge.fused {
      color: white;
      background-color: purple;
    }
  }

  form.add_deck_card {
    display: inline-block;
    float: right;
    input {
      cursor: pointer;
      border: none;
    }
    &.onyx {
      input {
        background: #333;
        color: white;
        &:hover {
          background: #111;
        }
      }
    }
  }

  a span.badge {
    float: right;
  }
}
