$offense: #FF6300;
$defense: #0065CB;

$bronze-dark: #CA9B56;
$bronze-light: lighten(#FED99F, 15);

$silver-dark: lighten(#B7C9CB, 5);
$silver-light: lighten(#E3EFF2, 7);

$gold-dark: darken(#FEDA47, 8);
$gold-light: lighten(#FEFDCC, 5);

$diamond-dark: #8AD9E0;
$diamond-light: lighten(#A8F1F5, 15);

$onyx-diamond: #7ECC97;

$final: #0E9EFE;
$combo: #FBFB00;
