@import 'colors';
@import 'views/cards';
@import 'views/decks';
@import 'views/side_nav';

#side {
  padding: 0px 10px;
  width: 340px;
  float: left;
}

#main {
  margin-left: 360px;
  margin-top: 15px;
}

body {
  font-family: Avenir;
}

li {
  list-style: none;
}

a {
  color: #1F618D;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

ul {
  padding-left: 0;
}

form.inline {
  display: inline-block;
  padding-right: 5px;
}

.sort {
  margin-top: 0px;
  margin-bottom: 7px;
}

.label {
  font-size: 10px;
}

.active, .complete {
  font-weight: 600;
}

span.badge {
  padding-left: 3px;
  display: inline-block;
  border-radius: 3px;
  font-size: 12px;
  &.bronze {
    color: #fafafa;
    background-color: $bronze-dark;
  }
  &.silver {
    color: #666;
    background-color: $silver-dark;
  }
  &.gold {
    color: #333;
    background-color: $gold-dark;
  }
  &.onyx {
    color: #eee;
    background-color: #444
  }
  a {
    color: inherit;
  }
  &.full {
    font-weight: 600;
  }
}
